.invision-section {
	background-color: #323a45;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-pack: center;
	    justify-content: center;
  -ms-flex-align: center;
      align-items: center;
	height: 100%;
	padding: 100px 0;
}

.invision-header {
	color: white;
	text-align: center;
	line-height: 42px;
	font-size: 30px;
	font-weight: 100;
	width: 90%;
}

.invision-header strong {
	font-weight: 600;
}

[name='invForm'] {
	width: 90%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 20px 10px 30px 0;
}

[name='invForm'] input {
	min-width: 230px;
	height: 63px;
	border-radius: 5px;
	outline: none;
	font-size: 17px;
  color: #5d6267;
  padding-left: 50px;
  font-weight: 400;
	margin: 5px 0px 5px 10px;
	border: none;
	box-shadow: inset 0 0 5px 0 gray,
	0 0 0 1px gray;
}


[name='invForm'] label{
	position: relative;
}

[name='invForm'] label:before {
	color: gray;
  position: absolute;
  font-size: 26px;
  top: 22px;
  left: 25px;
}


.invision-section [type='submit'] {
	text-transform: uppercase;
	font-size: 15px;
	color: white;
	background: #ff3366;
	border-style: none;
	padding: 15px;
	font-weight: 700;
	cursor: pointer;
	transition: background .3s ease-out;
	box-shadow: none;
}

.invision-section [type='submit']:hover {
	background: #f42156;
}

.invision-terms, .invision-terms a {
	font-size: 12px;
	color: #747c83;
	width: 90%;
	text-align: center;
}

.invision-terms a {
	text-decoration: none;
	border-bottom: 1px solid #747c83;
	white-space: nowrap;
	
}

.invision-terms a:hover {
	color: white;
	border-color: white;
}

[name='invForm'] .required {
	box-shadow: 0 0 0 2px #f42156;
}

[name='invForm'] .required::-webkit-input-placeholder {
	color: #f42156;
	font-weight: 700;
}

[name='invForm'] .required::-moz-placeholder {
	color: #f42156;
	font-weight: 700;
}

[name='invForm'] .success {
	box-shadow: 0 0 1px 2px lightgreen;;
}