.oculus-section .special:nth-of-type(1) .image-container {
	background-image: url('https://scontent.oculuscdn.com/t64.5771-25/11162714_283652092025521_547216123_n.jpg/eve-valkyrie.jpg');
}

.oculus-section .special:nth-of-type(2) .image-container {
	background-image: url('https://scontent.oculuscdn.com/t64.5771-25/12504834_1610504179262797_1233001088_n.jpg/luckys-tale.jpg');
}

.oculus-section .special:nth-of-type(3) .image-container {
	background-image: url('https://scontent.oculuscdn.com/t64.5771-25/12680264_165436440535334_659901318_n.jpg/oc3-stage-image.jpg');
}

.oculus-section .image-container {
	width: 100%;
	background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	transition: transform .3s, opacity .3s;
	opacity: .3;
}

.oculus-section {
	background: #282828;
	display: flex;
  margin: 0 auto;
}

.oculus-section .special{
	position: relative;
	height: 300px;
	display: flex;
	overflow: hidden;
	flex: 1;
}

.oculus-section .special:hover .image-container {
	opacity: .8;
	transform: scale(1.1);
}

.header-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.h4-specia-header,
.h3-special-header {
	text-align: center;
	margin: 3px 0;
	max-width: 80%;
}

.h4-specia-header {
    color: #a4a5a6;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 16px;
}

.h3-special-header {
		color: white;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
}

@media screen and (max-width: 760px){
	.oculus-section {
		display: block;
	}
}